* {
    box-sizing: border-box;
}


body {
    background-color: rgb(118, 153, 167);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
}
#container{
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 500px;
    overflow: hidden;
}

img{
    width: 500px;
    height: 500px;
    object-fit: cover;

}